@font-face {
    font-family: "Suisse Intl";
    src: local('Suisse Intl Bold'), local('SuisseIntl-Bold'),
        url('/static/assets/fonts/SuisseIntl-Bold.woff2') format('woff2'),
        url('/static/assets/fonts/SuisseIntl-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse Intl';
    src: local('Suisse Intl'), local('SuisseIntl-Regular'),
        url('/static/assets/fonts/SuisseIntl-Regular.woff2') format('woff2'),
        url('/static/assets/fonts/SuisseIntl-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
        url('/static/assets/fonts/Gilroy-ExtraBold.woff2') format('woff2'),
        url('/static/assets/fonts/Gilroy-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

