::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: rgba(0, 0, 0, 0.3);
    opacity: 1; /* Firefox */
    font-family: "Suisse Intl";
}
:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
    color: rgba(0, 0, 0, 0.3);
    font-family: "Suisse Intl";
}
::-ms-input-placeholder {
	/* Microsoft Edge */
    color: rgba(0, 0, 0, 0.3);
    font-family: "Suisse Intl";
}
.validation-error{
    position: absolute;
    background:#f59bac;
    padding: 0 10px;
    color:#fff;
    font-size: 12px;
    top: 15px;
    left: auto;
    right: 0;
    line-height: 18px;
}