* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    box-shadow: none;
}

html,
body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #000;
    font-family: "Suisse Intl";
    font-size: 14px;
    line-height: 24px;
}

body {
    min-height: 100vh;
}

a {
    &:link,
    &:visited,
    &:hover,
    &:active {
        text-decoration: none;
        outline: none;
    }
}

ul,
ol {
    list-style: none;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

.body-wrapper {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background: #f0f0f0;
    min-height: 100vh;
}

.clear,
.clearfix {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.full-wide {
    width: 100%;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

address {
    &,
    p {
        font-style: normal;
    }
}

.section {
    .about-us {
        max-width: 750px;
        margin: 0 auto;
        display: block;
        .headline {
            padding-bottom: 10px;
        }
        .description {
            font-size: 14px;
            line-height: 24px;
            padding: 20px 0;
        }
    }
}

.job-description {
    max-width: 550px;
    margin: 0 auto;
    display: block;
    padding: 20px 0;
    h3 {
        font-family: "Suisse Intl";
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        color: #000000;
        padding-bottom: 20px;
        text-transform: uppercase;
    }
    p {
        font-family: "Suisse Intl";
        font-size: 14px;
        font-weight: normal;
        line-height: 24px;
        padding-bottom: 10px;
        a {
            font-weight: bold;
            &,
            &:link,
            &:visited {
                color: #f29002;
            }
            &:hover,
            &:active {
                color: #000;
            }
        }
    }
}

ul.list-items{
    display: block;
    li{
        &:before{
            display: inline-block;
            content:'#';
            padding-right: 10px;
        }
    }
}