@mixin smallDesktop{
    @media only screen and (max-width: 1200px){
        @content;
    }
}

@mixin tabletLandscape{
    @media only screen and (max-width: 1024px){
        @content;
    }
}

@mixin tabletPortrait{
    @media only screen and (max-width: 990px){
        @content;
    }
}
@mixin mobileLarge{
    @media only screen and (max-width: 767px){
        @content;
    }
}
@mixin mobileSmall{
    @media only screen and (max-width: 360px){
        @content;
    }
}